@import '../../theme/core.scss';

.root {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $dark-gray;
  height: '100vh';
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(50);
}


.menuToggleLeft {
  color: white;
  font-size: rem(30);
  position: absolute;
  top: rem(32);
  left: rem(32);
  cursor: pointer;
}

.menuToggleRight {
  color: white;
  font-size: rem(30);
  position: absolute;
  top: rem(32);
  right: rem(32);
  cursor: pointer;
}


.navbarToggle {
  color: black;
  font-size: rem(30);
  position: absolute;
  top: rem(25);
  right: rem(32);
  cursor: pointer;
}

.description {
  color: $light-gray;
  margin-top: rem(24);
  font-size: rem(16);
  text-align: center;
}

.logoSidebar {
  width: 100%;
  height: auto;
  margin-top: rem(20);
}

.logoSidebarMobile {
  width: 70%;
  height: auto;
  margin-top: rem(20);
}